@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.autofill-color:-webkit-autofill,
.autofill-color:-webkit-autofill:hover,
.autofill-color:-webkit-autofill:focus,
.autofill-color:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(226 232 240) inset; /* bg-slate-200 */
  -webkit-text-fill-color: rgb(0 0 0); /* text-black */
  transition: background-color 5000s ease-in-out 0s;
}

.dark .autofill-color:-webkit-autofill,
.dark .autofill-color:-webkit-autofill:hover,
.dark .autofill-color:-webkit-autofill:focus,
.dark .autofill-color:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(15 23 42) inset; /* bg-slate-900 */
  -webkit-text-fill-color: rgb(255 255 255); /* text-white */
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-global-setting {
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 #f5f3ff;
}

.scrollbar-global-setting::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-global-setting::-webkit-scrollbar-track {
  background: #f5f3ff;
}

.scrollbar-global-setting::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 9999px;
}
